In [47]:
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27018")
db = client.get_database("prediction_service")

In [ ]:
client['collection_name']

In [ ]:
client.list_database_names()

In [ ]:
db.list_collection_names()

In [ ]:
data = client.get_database("prediction_service").get_collection("data_forecasting").find()
df = pd.DataFrame(list(data))
df['Date'] = pd.to_datetime(df['Date'])

In [48]:
## Rerun this script and the length of this list keeps increases when the script send_data.py is running
data_collection = db.get_collection("data_forecasting")
data = list(data_collection.find())
data[-5:]

[{'_id': ObjectId('630cc471bea46f9e15867995'),
  'Date': '2022-02-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 460257.7815,
  'Monthly_Change': 0.742726629,
  'Annual_Change': 6.615558077,
  'Average_Price_SA': None,
  '__index_level_0__': 132201,
  'id': '6052fb49-f7b9-4aa9-a594-52f8b32a9e34',
  'ds': '2022-02-01',
  'y': 460257.7815,
  'pred': 506189.795284272,
  'pred_low': 485462.7596063021,
  'pred_high': 525528.1820323797},
 {'_id': ObjectId('630cc474bea46f9e15867996'),
  'Date': '2022-03-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 469267.1391,
  'Monthly_Change': 1.957459062,
  'Annual_Change': 8.211428447,
  'Average_Price_SA': None,
  '__index_level_0__': 132599,
  'id': 'eae432c6-d352-468b-80de-4da43683fa67',
  'ds': '2022-03-01',
  'y': 469267.1391,
  'pred': 508122.05239149986,
  'pred_low': 489564.66980262875,
  'pred_high': 526602.9798584544},
 {'_id': ObjectId('630cc478bea46f9e15867997'),
  'Date': '2022-04-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 458162.5468,
  'Monthly_Change': -2.366369046,
  'Annual_Change': 4.634701058,
  'Average_Price_SA': None,
  '__index_level_0__': 132977,
  'id': '908ed4eb-e1a6-4c0e-9d8b-a6ea8931558b',
  'ds': '2022-04-01',
  'y': 458162.5468,
  'pred': 509376.14027950243,
  'pred_low': 491192.17901721236,
  'pred_high': 528877.328311743},
 {'_id': ObjectId('630cc47bbea46f9e15867998'),
  'Date': '2022-05-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 468381.9876,
  'Monthly_Change': 2.230527328,
  'Annual_Change': 5.43228062,
  'Average_Price_SA': None,
  '__index_level_0__': 133406,
  'id': '6ae43c39-ce66-459d-b67e-addadae6a102',
  'ds': '2022-05-01',
  'y': 468381.9876,
  'pred': 512798.25607817114,
  'pred_low': 493264.4570494867,
  'pred_high': 531915.8833074467},
 {'_id': ObjectId('630cc47ebea46f9e15867999'),
  'Date': '2022-06-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 473526.511,
  'Monthly_Change': 1.098360625,
  'Annual_Change': 5.079264491,
  'Average_Price_SA': None,
  '__index_level_0__': 133849,
  'id': '2f792b97-11f8-4f45-86dc-3559e9bdb358',
  'ds': '2022-06-01',
  'y': 473526.511,
  'pred': 516434.7508357898,
  'pred_low': 495131.7060392144,
  'pred_high': 535541.4422496588}]

In [49]:
len(data)

3067

In [50]:
### Testing for running in prefect_batch_moitoring.py
import pandas as pd

pd.DataFrame(list(data))

,_id,ds,y,pred,pred_low,pred_high,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,target
0,63089ed776d3c56b18afffe8,[1995-01-01],[78024.87998],62718.566243,47188.025119,79090.210597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63089eda76d3c56b18afffe9,[1995-02-01],[77770.11164],64791.637586,48575.062998,80181.351789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63089edd76d3c56b18afffea,[1995-03-01],[76013.83372],58919.291739,44472.117338,74334.117263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63089ee076d3c56b18afffeb,[1995-04-01],[74908.72866],60852.641415,44309.071336,75709.213367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63089ee376d3c56b18afffec,[1995-05-01],[73923.6391],64750.465526,49336.413774,80170.521528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3062,630cc471bea46f9e15867995,2022-02-01,460257.7815,506189.795284,485462.759606,525528.182032,2022-02-01,Oxford,E07000178,460257.7815,0.742727,6.615558,NaN,132201.0,6052fb49-f7b9-4aa9-a594-52f8b32a9e34,NaN
3063,630cc474bea46f9e15867996,2022-03-01,469267.1391,508122.052391,489564.669803,526602.979858,2022-03-01,Oxford,E07000178,469267.1391,1.957459,8.211428,NaN,132599.0,eae432c6-d352-468b-80de-4da43683fa67,NaN
3064,630cc478bea46f9e15867997,2022-04-01,458162.5468,509376.140280,491192.179017,528877.328312,2022-04-01,Oxford,E07000178,458162.5468,-2.366369,4.634701,NaN,132977.0,908ed4eb-e1a6-4c0e-9d8b-a6ea8931558b,NaN
3065,630cc47bbea46f9e15867998,2022-05-01,468381.9876,512798.256078,493264.457049,531915.883307,2022-05-01,Oxford,E07000178,468381.9876,2.230527,5.432281,NaN,133406.0,6ae43c39-ce66-459d-b67e-addadae6a102,NaN
3066,630cc47ebea46f9e15867999,2022-06-01,473526.511,516434.750836,495131.706039,535541.442250,2022-06-01,Oxford,E07000178,473526.5110,1.098361,5.079264,NaN,133849.0,2f792b97-11f8-4f45-86dc-3559e9bdb358,NaN

In [51]:
df_mongo_result = pd.DataFrame(list(data[-330:]))
df_mongo_result.head()

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high
0,630cc07abea46f9e15867850,1995-01-01,Oxford,E07000178,78024.87998,NaN,NaN,None,139,d04085c5-de04-4e5e-b080-29d12d1aa97a,1995-01-01,78024.87998,62718.566243,46432.237388,77548.824263
1,630cc07ebea46f9e15867851,1995-02-01,Oxford,E07000178,77770.11164,-0.326522,NaN,None,615,e4c9bcf3-b5c2-4bfc-928f-e3d308b6fb53,1995-02-01,77770.11164,64791.637586,48523.353624,79160.471160
2,630cc081bea46f9e15867852,1995-03-01,Oxford,E07000178,76013.83372,-2.258294,NaN,None,970,e708f965-a4d4-431e-945f-335e516ef06e,1995-03-01,76013.83372,58919.291739,44669.835799,74940.531083
3,630cc084bea46f9e15867853,1995-04-01,Oxford,E07000178,74908.72866,-1.453821,NaN,None,1336,2c975822-b0aa-40af-84b4-a001f190389e,1995-04-01,74908.72866,60852.641415,45795.536888,75564.592460
4,630cc087bea46f9e15867854,1995-05-01,Oxford,E07000178,73923.63910,-1.315053,NaN,None,1734,fd8191b9-f9d9-4409-944c-3d8895453922,1995-05-01,73923.63910,64750.465526,49251.871345,80879.681386

In [53]:
df_mongo_result.tail(330)

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high
0,630cc07abea46f9e15867850,1995-01-01,Oxford,E07000178,78024.87998,NaN,NaN,None,139,d04085c5-de04-4e5e-b080-29d12d1aa97a,1995-01-01,78024.87998,62718.566243,46432.237388,77548.824263
1,630cc07ebea46f9e15867851,1995-02-01,Oxford,E07000178,77770.11164,-0.326522,NaN,None,615,e4c9bcf3-b5c2-4bfc-928f-e3d308b6fb53,1995-02-01,77770.11164,64791.637586,48523.353624,79160.471160
2,630cc081bea46f9e15867852,1995-03-01,Oxford,E07000178,76013.83372,-2.258294,NaN,None,970,e708f965-a4d4-431e-945f-335e516ef06e,1995-03-01,76013.83372,58919.291739,44669.835799,74940.531083
3,630cc084bea46f9e15867853,1995-04-01,Oxford,E07000178,74908.72866,-1.453821,NaN,None,1336,2c975822-b0aa-40af-84b4-a001f190389e,1995-04-01,74908.72866,60852.641415,45795.536888,75564.592460
4,630cc087bea46f9e15867854,1995-05-01,Oxford,E07000178,73923.63910,-1.315053,NaN,None,1734,fd8191b9-f9d9-4409-944c-3d8895453922,1995-05-01,73923.63910,64750.465526,49251.871345,80879.681386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,630cc471bea46f9e15867995,2022-02-01,Oxford,E07000178,460257.78150,0.742727,6.615558,None,132201,6052fb49-f7b9-4aa9-a594-52f8b32a9e34,2022-02-01,460257.78150,506189.795284,485462.759606,525528.182032
326,630cc474bea46f9e15867996,2022-03-01,Oxford,E07000178,469267.13910,1.957459,8.211428,None,132599,eae432c6-d352-468b-80de-4da43683fa67,2022-03-01,469267.13910,508122.052391,489564.669803,526602.979858
327,630cc478bea46f9e15867997,2022-04-01,Oxford,E07000178,458162.54680,-2.366369,4.634701,None,132977,908ed4eb-e1a6-4c0e-9d8b-a6ea8931558b,2022-04-01,458162.54680,509376.140280,491192.179017,528877.328312
328,630cc47bbea46f9e15867998,2022-05-01,Oxford,E07000178,468381.98760,2.230527,5.432281,None,133406,6ae43c39-ce66-459d-b67e-addadae6a102,2022-05-01,468381.98760,512798.256078,493264.457049,531915.883307
329,630cc47ebea46f9e15867999,2022-06-01,Oxford,E07000178,473526.51100,1.098361,5.079264,None,133849,2f792b97-11f8-4f45-86dc-3559e9bdb358,2022-06-01,473526.51100,516434.750836,495131.706039,535541.442250

In [45]:
df_mongo_result['Date'] = pd.to_datetime(df_mongo_result['Date'])
df_mongo_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                330 non-null    object
 1   Date               330 non-null    datetime64[ns]
 2   Region_Name        330 non-null    object
 3   Area_Code          330 non-null    object
 4   Average_Price      330 non-null    float64
 5   Monthly_Change     329 non-null    float64
 6   Annual_Change      318 non-null    float64
 7   Average_Price_SA   0 non-null      object
 8   __index_level_0__  330 non-null    int64
 9   id                 330 non-null    object
 10  ds                 330 non-null    object
 11  y                  330 non-null    float64
 12  pred               330 non-null    float64
 13  pred_low           330 non-null    float64
 14  pred_high          330 non-null    float64
 15  target             311 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(6)
memory usage: 41.4+ KB

In [7]:
import pickle

MODEL_FILE = os.getenv('MODEL_FILE', './prediction_service/model_prophet_Oxford.bin')
with open(MODEL_FILE, 'rb') as f_in:
    model = pickle.load(f_in)

c:\Users\rizdi\miniconda3\envs\mlops_monitor\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
client.get_database("prediction_service").get_collection("report")

In [54]:
report_collection = db.get_collection("report")
reports = list(report_collection.find())
reports

[{'_id': ObjectId('630cc8f6da37a1611ebb125c'),
  'data_drift': {'name': 'data_drift',
   'datetime': '2022-08-29 15:11:00.978258',
   'data': {'utility_columns': {'date': None,
     'id': None,
     'target': None,
     'prediction': 'pred'},
    'cat_feature_names': ['Area_Code', 'Region_Name'],
    'num_feature_names': ['Average_Price', 'y', 'pred'],
    'datetime_feature_names': ['Date', 'ds'],
    'target_names': None,
    'options': {'confidence': None,
     'drift_share': 0.5,
     'nbinsx': 10,
     'xbins': None},
    'metrics': {'n_features': 5,
     'n_drifted_features': 0,
     'share_drifted_features': 0.0,
     'dataset_drift': False,
     'Average_Price': {'current_small_hist': [[4.243949287563943e-06,
        1.6672657915429778e-06,
        1.0609873218909859e-06,
        3.258746774379457e-06,
        3.6376708179119545e-06,
        3.637670817911947e-06,
        6.062784696519929e-07,
        1.36412655671698e-06,
        4.168164478857451e-06,
        1.364126556716982e-06],
       [73670.2493,
        113655.87547,
        153641.50164,
        193627.12781,
        233612.75398,
        273598.38015,
        313584.00632000004,
        353569.63249,
        393555.25866000005,
        433540.88483,
        473526.511]],
      'ref_small_hist': [[4.243949411744088e-06,
        1.6672658403280345e-06,
        1.060987352936022e-06,
        3.258746869732067e-06,
        3.637670924352075e-06,
        3.637670924352075e-06,
        6.062784873920126e-07,
        1.3641265966320284e-06,
        4.168164600820086e-06,
        1.3641265966320284e-06],
       [73670.25,
        113655.875,
        153641.5,
        193627.125,
        233612.75,
        273598.375,
        313584.0,
        353569.625,
        393555.25,
        433540.875,
        473526.5]],
      'feature_type': 'num',
      'stattest_name': 'K-S p_value',
      'drift_score': 0.9999999999999999,
      'drift_detected': False},
     'y': {'current_small_hist': [[4.243949287563943e-06,
        1.6672657915429778e-06,
        1.0609873218909859e-06,
        3.258746774379457e-06,
        3.6376708179119545e-06,
        3.637670817911947e-06,
        6.062784696519929e-07,
        1.36412655671698e-06,
        4.168164478857451e-06,
        1.364126556716982e-06],
       [73670.2493,
        113655.87547,
        153641.50164,
        193627.12781,
        233612.75398,
        273598.38015,
        313584.00632000004,
        353569.63249,
        393555.25866000005,
        433540.88483,
        473526.511]],
      'ref_small_hist': [[4.243949411744088e-06,
        1.6672658403280345e-06,
        1.060987352936022e-06,
        3.258746869732067e-06,
        3.637670924352075e-06,
        3.637670924352075e-06,
        6.062784873920126e-07,
        1.3641265966320284e-06,
        4.168164600820086e-06,
        1.3641265966320284e-06],
       [73670.25,
        113655.875,
        153641.5,
        193627.125,
        233612.75,
        273598.375,
        313584.0,
        353569.625,
        393555.25,
        433540.875,
        473526.5]],
      'feature_type': 'num',
      'stattest_name': 'K-S p_value',
      'drift_score': 0.9999999999999999,
      'drift_detected': False},
     'pred': {'current_small_hist': [[3.046759112118054e-06,
        1.9207829185092086e-06,
        1.722081237284117e-06,
        2.1857184934759963e-06,
        4.702606455660476e-06,
        1.8545490247675096e-06,
        1.6558473435424215e-06,
        1.5233795560590277e-06,
        1.6558473435424215e-06,
        1.5896134498007244e-06],
       [58919.29173854885,
        104670.83764827295,
        150422.38355799703,
        196173.92946772114,
        241925.47537744523,
        287677.0212871693,
        333428.56719689345,
        379180.11310661753,
        424931.6590163416,
        470683.2049260657,
        516434.7508357898]],
      'ref_small_hist': [[3.046759112118054e-06,
        1.9207829185092074e-06,
        1.7220812372841182e-06,
        2.1857184934759963e-06,
        4.702606455660476e-06,
        1.8545490247675096e-06,
        1.6558473435424215e-06,
        1.5233795560590277e-06,
        1.6558473435424215e-06,
        1.5896134498007244e-06],
       [58919.291738548854,
        104670.83764827295,
        150422.38355799706,
        196173.92946772114,
        241925.47537744523,
        287677.0212871693,
        333428.56719689345,
        379180.11310661753,
        424931.6590163416,
        470683.2049260657,
        516434.7508357898]],
      'feature_type': 'num',
      'stattest_name': 'K-S p_value',
      'drift_score': 0.9999999999999999,
      'drift_detected': False},
     'Area_Code': {'current_small_hist': [[330], ['E07000178']],
      'ref_small_hist': [[330], ['E07000178']],
      'feature_type': 'cat',
      'stattest_name': 'Z-test p_value',
      'drift_score': 1,
      'drift_detected': False},
     'Region_Name': {'current_small_hist': [[330], ['Oxford']],
      'ref_small_hist': [[330], ['Oxford']],
      'feature_type': 'cat',
      'stattest_name': 'Z-test p_value',
      'drift_score': 1,
      'drift_detected': False}}}},
  'timestamp': '2022-08-29 15:11:01.806784'}]

In [ ]:
reports

In [37]:

reference_data = pd.read_csv("Average_price-2022-06_from1995.csv")
# Create features
col1 = ["Average_Price", "Average_Price_SA"]
col2 = ["Monthly_Change", "Annual_Change"]

df2 = reference_data.drop("Unnamed: 0", axis=1)
df2["Date"] = pd.to_datetime(df2.Date)
df2[col1] = df2[col1].astype("float32")
df2[col2] = df2[col2].astype("float16")
df2 = df2[df2["Region_Name"] == "Oxford"]
df2["ds"] = df2["Date"]
df2["y"] = df2["Average_Price"]
reference_data = df2.copy()

reference_data.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,ds,y
139,1995-01-01,Oxford,E07000178,78024.882812,NaN,NaN,NaN,1995-01-01,78024.882812
615,1995-02-01,Oxford,E07000178,77770.109375,-0.326416,NaN,NaN,1995-02-01,77770.109375
970,1995-03-01,Oxford,E07000178,76013.835938,-2.257812,NaN,NaN,1995-03-01,76013.835938
1336,1995-04-01,Oxford,E07000178,74908.726562,-1.454102,NaN,NaN,1995-04-01,74908.726562
1734,1995-05-01,Oxford,E07000178,73923.640625,-1.315430,NaN,NaN,1995-05-01,73923.640625

In [26]:
reference_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 139 to 133849
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              330 non-null    datetime64[ns]
 1   Region_Name       330 non-null    object
 2   Area_Code         330 non-null    object
 3   Average_Price     330 non-null    float32
 4   Monthly_Change    329 non-null    float16
 5   Annual_Change     318 non-null    float16
 6   Average_Price_SA  0 non-null      float32
 7   ds                330 non-null    datetime64[ns]
 8   y                 330 non-null    float32
dtypes: datetime64[ns](2), float16(2), float32(3), object(2)
memory usage: 18.0+ KB

In [38]:
features = ["ds", "y"]
df_pred = reference_data[features]
df_predict = model.predict(df_pred)

In [29]:
df_predict.columns

Index(['ds', 'trend', 'yhat_lower', 'yhat_upper', 'trend_lower', 'trend_upper',
       'additive_terms', 'additive_terms_lower', 'additive_terms_upper',
       'yearly', 'yearly_lower', 'yearly_upper', 'multiplicative_terms',
       'multiplicative_terms_lower', 'multiplicative_terms_upper', 'yhat'],
      dtype='object')

In [39]:
df_predict_right = df_predict[['ds','yhat','yhat_lower','yhat_upper']]
df_predict_right.head()

          ds          yhat    yhat_lower    yhat_upper
0 1995-01-01  62718.566243  46352.550217  78387.114934
1 1995-02-01  64791.637586  49923.787648  80528.275953
2 1995-03-01  58919.291739  43641.909201  72649.335511
3 1995-04-01  60852.641415  44790.508174  76565.194067
4 1995-05-01  64750.465526  49066.660660  80330.256632

In [40]:
result = pd.merge(reference_data, df_predict_right, how="left", on="ds")
result.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,ds,y,yhat,yhat_lower,yhat_upper
0,1995-01-01,Oxford,E07000178,78024.882812,NaN,NaN,NaN,1995-01-01,78024.882812,62718.566243,46352.550217,78387.114934
1,1995-02-01,Oxford,E07000178,77770.109375,-0.326416,NaN,NaN,1995-02-01,77770.109375,64791.637586,49923.787648,80528.275953
2,1995-03-01,Oxford,E07000178,76013.835938,-2.257812,NaN,NaN,1995-03-01,76013.835938,58919.291739,43641.909201,72649.335511
3,1995-04-01,Oxford,E07000178,74908.726562,-1.454102,NaN,NaN,1995-04-01,74908.726562,60852.641415,44790.508174,76565.194067
4,1995-05-01,Oxford,E07000178,73923.640625,-1.315430,NaN,NaN,1995-05-01,73923.640625,64750.465526,49066.660660,80330.256632

In [42]:
result = result.rename(columns={'yhat':'pred',
                     'yhat_lower':'pred_low',
                     'yhat_upper':'pred_high'})
result.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,ds,y,pred,pred_low,pred_high
0,1995-01-01,Oxford,E07000178,78024.882812,NaN,NaN,NaN,1995-01-01,78024.882812,62718.566243,46352.550217,78387.114934
1,1995-02-01,Oxford,E07000178,77770.109375,-0.326416,NaN,NaN,1995-02-01,77770.109375,64791.637586,49923.787648,80528.275953
2,1995-03-01,Oxford,E07000178,76013.835938,-2.257812,NaN,NaN,1995-03-01,76013.835938,58919.291739,43641.909201,72649.335511
3,1995-04-01,Oxford,E07000178,74908.726562,-1.454102,NaN,NaN,1995-04-01,74908.726562,60852.641415,44790.508174,76565.194067
4,1995-05-01,Oxford,E07000178,73923.640625,-1.315430,NaN,NaN,1995-05-01,73923.640625,64750.465526,49066.660660,80330.256632

In [41]:
df_mongo_result.head()

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high,target
0,630c9456bea46f9e1586784b,2020-07-01,Oxford,E07000178,398890.9930,2.087913,0.085967,None,124225,dc945902-7710-4fb5-91f3-30824bc44816,2020-07-01,398890.9930,474324.177818,457471.241849,490665.400087,398890.9930
1,630c945abea46f9e1586784c,2020-08-01,Oxford,E07000178,424222.8447,6.350570,4.096569,None,124585,9692d73e-c7a6-4756-97d1-7c327a7f79a8,2020-08-01,424222.8447,481101.978988,465099.368764,496965.173796,424222.8447
2,630c945dbea46f9e1586784d,2020-09-01,Oxford,E07000178,428481.0120,1.003757,2.746180,None,125108,d64ef716-3561-4166-a3d6-cffe0e4189d4,2020-09-01,428481.0120,485480.741722,469588.654722,501718.170038,428481.0120
3,630c9460bea46f9e1586784e,2020-10-01,Oxford,E07000178,433729.0557,1.224802,4.590585,None,125461,7ac97f06-cc76-45b5-9b30-a7d99810c5c8,2020-10-01,433729.0557,484424.015459,467933.385874,501579.754793,433729.0557
4,630c9466bea46f9e1586784f,2020-11-01,Oxford,E07000178,429722.7023,-0.923700,2.276995,None,125841,521489ba-edc4-4a01-bae3-2e2cf2de2ca7,2020-11-01,429722.7023,482959.627756,466234.247242,500385.366353,429722.7023