In [1]:
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27018")
db = client.get_database("prediction_service")

In [ ]:
client['collection_name']

In [ ]:
client.list_database_names()

In [ ]:
db.list_collection_names()

In [2]:
## Rerun this script and the length of this list keeps increases when the script send_data.py is running
data_collection = db.get_collection("data_forecasting")
data = list(data_collection.find())
data[-5:]

[{'_id': ObjectId('630c9408bea46f9e15867835'),
  'Date': '2018-09-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 426220.7843,
  'Monthly_Change': 0.47397135,
  'Annual_Change': 1.555446918,
  'Average_Price_SA': None,
  '__index_level_0__': 114961,
  'id': 'd0380a69-5d46-4c6e-b512-65ce88feefab',
  'ds': '2018-09-01',
  'y': 426220.7843,
  'pred': 439174.4814589827,
  'pred_low': 423543.4660987097,
  'pred_high': 454675.4887793693},
 {'_id': ObjectId('630c940bbea46f9e15867836'),
  'Date': '2018-10-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 421720.9617,
  'Monthly_Change': -1.055749215,
  'Annual_Change': 0.215706721,
  'Average_Price_SA': None,
  '__index_level_0__': 115372,
  'id': 'fa6f0887-a52f-40eb-ad61-9d57edd28162',
  'ds': '2018-10-01',
  'y': 421720.9617,
  'pred': 438131.3184868719,
  'pred_low': 423033.606756667,
  'pred_high': 453721.3987390072},
 {'_id': ObjectId('630c940ebea46f9e15867837'),
  'Date': '2018-11-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 405945.8403,
  'Monthly_Change': -3.740653842,
  'Annual_Change': -2.711190639,
  'Average_Price_SA': None,
  '__index_level_0__': 115709,
  'id': 'ebc7fd88-cad0-46d1-aa33-d828b2ec9605',
  'ds': '2018-11-01',
  'y': 405945.8403,
  'pred': 436122.9935330824,
  'pred_low': 420260.7909431658,
  'pred_high': 452057.52729186014},
 {'_id': ObjectId('630c9412bea46f9e15867838'),
  'Date': '2018-12-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 403616.9521,
  'Monthly_Change': -0.573694326,
  'Annual_Change': -1.345736173,
  'Average_Price_SA': None,
  '__index_level_0__': 116150,
  'id': '3b0e86b8-ae60-4df8-bdf7-ff85429764e8',
  'ds': '2018-12-01',
  'y': 403616.9521,
  'pred': 435286.9245667846,
  'pred_low': 420116.6702858538,
  'pred_high': 450622.2792974433},
 {'_id': ObjectId('630c9415bea46f9e15867839'),
  'Date': '2019-01-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 409639.7265,
  'Monthly_Change': 1.492200556,
  'Annual_Change': 3.514773479,
  'Average_Price_SA': None,
  '__index_level_0__': 116532,
  'id': 'b6ad319b-6675-411c-8fb5-dd4790a9a761',
  'ds': '2019-01-01',
  'y': 409639.7265,
  'pred': 439009.60828334827,
  'pred_low': 422984.4328462499,
  'pred_high': 455153.18863256346}]

In [3]:
### Testing for running in prefect_batch_moitoring.py
import pandas as pd

pd.DataFrame(list(data[-5:]))

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high
0,630c9408bea46f9e15867835,2018-09-01,Oxford,E07000178,426220.7843,0.473971,1.555447,None,114961,d0380a69-5d46-4c6e-b512-65ce88feefab,2018-09-01,426220.7843,439174.481459,423543.466099,454675.488779
1,630c940bbea46f9e15867836,2018-10-01,Oxford,E07000178,421720.9617,-1.055749,0.215707,None,115372,fa6f0887-a52f-40eb-ad61-9d57edd28162,2018-10-01,421720.9617,438131.318487,423033.606757,453721.398739
2,630c940ebea46f9e15867837,2018-11-01,Oxford,E07000178,405945.8403,-3.740654,-2.711191,None,115709,ebc7fd88-cad0-46d1-aa33-d828b2ec9605,2018-11-01,405945.8403,436122.993533,420260.790943,452057.527292
3,630c9412bea46f9e15867838,2018-12-01,Oxford,E07000178,403616.9521,-0.573694,-1.345736,None,116150,3b0e86b8-ae60-4df8-bdf7-ff85429764e8,2018-12-01,403616.9521,435286.924567,420116.670286,450622.279297
4,630c9415bea46f9e15867839,2019-01-01,Oxford,E07000178,409639.7265,1.492201,3.514773,None,116532,b6ad319b-6675-411c-8fb5-dd4790a9a761,2019-01-01,409639.7265,439009.608283,422984.432846,455153.188633

In [4]:
df_mongo_result = pd.DataFrame(list(data[-5:]))

features = ["ds", "y"]
df_mongo_result[features]

           ds            y
0  2018-09-01  426220.7843
1  2018-10-01  421720.9617
2  2018-11-01  405945.8403
3  2018-12-01  403616.9521
4  2019-01-01  409639.7265

In [5]:
df_mongo_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5 non-null      object
 1   Date               5 non-null      object
 2   Region_Name        5 non-null      object
 3   Area_Code          5 non-null      object
 4   Average_Price      5 non-null      float64
 5   Monthly_Change     5 non-null      float64
 6   Annual_Change      5 non-null      float64
 7   Average_Price_SA   0 non-null      object
 8   __index_level_0__  5 non-null      int64
 9   id                 5 non-null      object
 10  ds                 5 non-null      object
 11  y                  5 non-null      float64
 12  pred               5 non-null      float64
 13  pred_low           5 non-null      float64
 14  pred_high          5 non-null      float64
dtypes: float64(7), int64(1), object(7)
memory usage: 728.0+ bytes

In [6]:
df_mongo_result['Date'] = pd.to_datetime(df_mongo_result['Date'])
df_mongo_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5 non-null      object
 1   Date               5 non-null      datetime64[ns]
 2   Region_Name        5 non-null      object
 3   Area_Code          5 non-null      object
 4   Average_Price      5 non-null      float64
 5   Monthly_Change     5 non-null      float64
 6   Annual_Change      5 non-null      float64
 7   Average_Price_SA   0 non-null      object
 8   __index_level_0__  5 non-null      int64
 9   id                 5 non-null      object
 10  ds                 5 non-null      object
 11  y                  5 non-null      float64
 12  pred               5 non-null      float64
 13  pred_low           5 non-null      float64
 14  pred_high          5 non-null      float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(6)
memory usage: 728.0+ bytes

In [12]:
df_mongo_result

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high
0,630c9408bea46f9e15867835,2018-09-01,Oxford,E07000178,426220.7843,0.473971,1.555447,None,114961,d0380a69-5d46-4c6e-b512-65ce88feefab,2018-09-01,426220.7843,439174.481459,423543.466099,454675.488779
1,630c940bbea46f9e15867836,2018-10-01,Oxford,E07000178,421720.9617,-1.055749,0.215707,None,115372,fa6f0887-a52f-40eb-ad61-9d57edd28162,2018-10-01,421720.9617,438131.318487,423033.606757,453721.398739
2,630c940ebea46f9e15867837,2018-11-01,Oxford,E07000178,405945.8403,-3.740654,-2.711191,None,115709,ebc7fd88-cad0-46d1-aa33-d828b2ec9605,2018-11-01,405945.8403,436122.993533,420260.790943,452057.527292
3,630c9412bea46f9e15867838,2018-12-01,Oxford,E07000178,403616.9521,-0.573694,-1.345736,None,116150,3b0e86b8-ae60-4df8-bdf7-ff85429764e8,2018-12-01,403616.9521,435286.924567,420116.670286,450622.279297
4,630c9415bea46f9e15867839,2019-01-01,Oxford,E07000178,409639.7265,1.492201,3.514773,None,116532,b6ad319b-6675-411c-8fb5-dd4790a9a761,2019-01-01,409639.7265,439009.608283,422984.432846,455153.188633

In [7]:
import pickle

MODEL_FILE = os.getenv('MODEL_FILE', './prediction_service/model_prophet_Oxford.bin')
with open(MODEL_FILE, 'rb') as f_in:
    model = pickle.load(f_in)

c:\Users\rizdi\miniconda3\envs\mlops_monitor\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
df_predict = df_mongo_result[['Date', 'Average_Price']] \
    .rename(columns={'Date':'ds',
                     'Average_Price':'y'})

newcastle_forecast = model.predict(df_predict)

In [13]:
features = ["ds", "y"]
X_pred = df_mongo_result[features]
df_mongo_predict = model.predict(X_pred)

In [15]:
df_mongo_result["prediction"] = df_mongo_predict["yhat"]

In [16]:
df_mongo_result

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high,prediction
0,630c9408bea46f9e15867835,2018-09-01,Oxford,E07000178,426220.7843,0.473971,1.555447,None,114961,d0380a69-5d46-4c6e-b512-65ce88feefab,2018-09-01,426220.7843,439174.481459,423543.466099,454675.488779,439174.481459
1,630c940bbea46f9e15867836,2018-10-01,Oxford,E07000178,421720.9617,-1.055749,0.215707,None,115372,fa6f0887-a52f-40eb-ad61-9d57edd28162,2018-10-01,421720.9617,438131.318487,423033.606757,453721.398739,438131.318487
2,630c940ebea46f9e15867837,2018-11-01,Oxford,E07000178,405945.8403,-3.740654,-2.711191,None,115709,ebc7fd88-cad0-46d1-aa33-d828b2ec9605,2018-11-01,405945.8403,436122.993533,420260.790943,452057.527292,436122.993533
3,630c9412bea46f9e15867838,2018-12-01,Oxford,E07000178,403616.9521,-0.573694,-1.345736,None,116150,3b0e86b8-ae60-4df8-bdf7-ff85429764e8,2018-12-01,403616.9521,435286.924567,420116.670286,450622.279297,435286.924567
4,630c9415bea46f9e15867839,2019-01-01,Oxford,E07000178,409639.7265,1.492201,3.514773,None,116532,b6ad319b-6675-411c-8fb5-dd4790a9a761,2019-01-01,409639.7265,439009.608283,422984.432846,455153.188633,439009.608283

In [ ]:


report_collection = db.get_collection("report")
reports = list(report_collection.find())
reports

In [ ]:
reports