In [1]:
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27018")
db = client.get_database("prediction_service")

In [ ]:
client['collection_name']

In [ ]:
client.list_database_names()

In [ ]:
db.list_collection_names()

In [21]:
## Rerun this script and the length of this list keeps increases when the script send_data.py is running
data_collection = db.get_collection("data_forecasting")
data = list(data_collection.find())
data[-5:]

[{'_id': ObjectId('630c9456bea46f9e1586784b'),
  'Date': '2020-07-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 398890.993,
  'Monthly_Change': 2.087913136,
  'Annual_Change': 0.085967271,
  'Average_Price_SA': None,
  '__index_level_0__': 124225,
  'id': 'dc945902-7710-4fb5-91f3-30824bc44816',
  'ds': '2020-07-01',
  'y': 398890.993,
  'pred': 474324.17781830026,
  'pred_low': 457471.24184873933,
  'pred_high': 490665.40008716355,
  'target': 398890.993},
 {'_id': ObjectId('630c945abea46f9e1586784c'),
  'Date': '2020-08-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 424222.8447,
  'Monthly_Change': 6.350569973,
  'Annual_Change': 4.096569008,
  'Average_Price_SA': None,
  '__index_level_0__': 124585,
  'id': '9692d73e-c7a6-4756-97d1-7c327a7f79a8',
  'ds': '2020-08-01',
  'y': 424222.8447,
  'pred': 481101.97898756235,
  'pred_low': 465099.36876391113,
  'pred_high': 496965.17379583797,
  'target': 424222.8447},
 {'_id': ObjectId('630c945dbea46f9e1586784d'),
  'Date': '2020-09-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 428481.012,
  'Monthly_Change': 1.003757198,
  'Annual_Change': 2.746180227,
  'Average_Price_SA': None,
  '__index_level_0__': 125108,
  'id': 'd64ef716-3561-4166-a3d6-cffe0e4189d4',
  'ds': '2020-09-01',
  'y': 428481.012,
  'pred': 485480.7417217304,
  'pred_low': 469588.6547224973,
  'pred_high': 501718.1700380703,
  'target': 428481.012},
 {'_id': ObjectId('630c9460bea46f9e1586784e'),
  'Date': '2020-10-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 433729.0557,
  'Monthly_Change': 1.224801926,
  'Annual_Change': 4.590585273,
  'Average_Price_SA': None,
  '__index_level_0__': 125461,
  'id': '7ac97f06-cc76-45b5-9b30-a7d99810c5c8',
  'ds': '2020-10-01',
  'y': 433729.0557,
  'pred': 484424.015459444,
  'pred_low': 467933.3858739461,
  'pred_high': 501579.75479257037,
  'target': 433729.0557},
 {'_id': ObjectId('630c9466bea46f9e1586784f'),
  'Date': '2020-11-01',
  'Region_Name': 'Oxford',
  'Area_Code': 'E07000178',
  'Average_Price': 429722.7023,
  'Monthly_Change': -0.92369956,
  'Annual_Change': 2.27699481,
  'Average_Price_SA': None,
  '__index_level_0__': 125841,
  'id': '521489ba-edc4-4a01-bae3-2e2cf2de2ca7',
  'ds': '2020-11-01',
  'y': 429722.7023,
  'pred': 482959.62775624805,
  'pred_low': 466234.24724220694,
  'pred_high': 500385.36635279015,
  'target': 429722.7023}]

In [22]:
### Testing for running in prefect_batch_moitoring.py
import pandas as pd

pd.DataFrame(list(data[-5:]))

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high,target
0,630c9456bea46f9e1586784b,2020-07-01,Oxford,E07000178,398890.9930,2.087913,0.085967,None,124225,dc945902-7710-4fb5-91f3-30824bc44816,2020-07-01,398890.9930,474324.177818,457471.241849,490665.400087,398890.9930
1,630c945abea46f9e1586784c,2020-08-01,Oxford,E07000178,424222.8447,6.350570,4.096569,None,124585,9692d73e-c7a6-4756-97d1-7c327a7f79a8,2020-08-01,424222.8447,481101.978988,465099.368764,496965.173796,424222.8447
2,630c945dbea46f9e1586784d,2020-09-01,Oxford,E07000178,428481.0120,1.003757,2.746180,None,125108,d64ef716-3561-4166-a3d6-cffe0e4189d4,2020-09-01,428481.0120,485480.741722,469588.654722,501718.170038,428481.0120
3,630c9460bea46f9e1586784e,2020-10-01,Oxford,E07000178,433729.0557,1.224802,4.590585,None,125461,7ac97f06-cc76-45b5-9b30-a7d99810c5c8,2020-10-01,433729.0557,484424.015459,467933.385874,501579.754793,433729.0557
4,630c9466bea46f9e1586784f,2020-11-01,Oxford,E07000178,429722.7023,-0.923700,2.276995,None,125841,521489ba-edc4-4a01-bae3-2e2cf2de2ca7,2020-11-01,429722.7023,482959.627756,466234.247242,500385.366353,429722.7023

In [23]:
df_mongo_result = pd.DataFrame(list(data[-5:]))
df_mongo_result.head()

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high,target
0,630c9456bea46f9e1586784b,2020-07-01,Oxford,E07000178,398890.9930,2.087913,0.085967,None,124225,dc945902-7710-4fb5-91f3-30824bc44816,2020-07-01,398890.9930,474324.177818,457471.241849,490665.400087,398890.9930
1,630c945abea46f9e1586784c,2020-08-01,Oxford,E07000178,424222.8447,6.350570,4.096569,None,124585,9692d73e-c7a6-4756-97d1-7c327a7f79a8,2020-08-01,424222.8447,481101.978988,465099.368764,496965.173796,424222.8447
2,630c945dbea46f9e1586784d,2020-09-01,Oxford,E07000178,428481.0120,1.003757,2.746180,None,125108,d64ef716-3561-4166-a3d6-cffe0e4189d4,2020-09-01,428481.0120,485480.741722,469588.654722,501718.170038,428481.0120
3,630c9460bea46f9e1586784e,2020-10-01,Oxford,E07000178,433729.0557,1.224802,4.590585,None,125461,7ac97f06-cc76-45b5-9b30-a7d99810c5c8,2020-10-01,433729.0557,484424.015459,467933.385874,501579.754793,433729.0557
4,630c9466bea46f9e1586784f,2020-11-01,Oxford,E07000178,429722.7023,-0.923700,2.276995,None,125841,521489ba-edc4-4a01-bae3-2e2cf2de2ca7,2020-11-01,429722.7023,482959.627756,466234.247242,500385.366353,429722.7023

In [24]:
df_mongo_result['Date'] = pd.to_datetime(df_mongo_result['Date'])
df_mongo_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5 non-null      object
 1   Date               5 non-null      datetime64[ns]
 2   Region_Name        5 non-null      object
 3   Area_Code          5 non-null      object
 4   Average_Price      5 non-null      float64
 5   Monthly_Change     5 non-null      float64
 6   Annual_Change      5 non-null      float64
 7   Average_Price_SA   0 non-null      object
 8   __index_level_0__  5 non-null      int64
 9   id                 5 non-null      object
 10  ds                 5 non-null      object
 11  y                  5 non-null      float64
 12  pred               5 non-null      float64
 13  pred_low           5 non-null      float64
 14  pred_high          5 non-null      float64
 15  target             5 non-null      float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(6)
memory usage: 768.0+ bytes

In [7]:
import pickle

MODEL_FILE = os.getenv('MODEL_FILE', './prediction_service/model_prophet_Oxford.bin')
with open(MODEL_FILE, 'rb') as f_in:
    model = pickle.load(f_in)

c:\Users\rizdi\miniconda3\envs\mlops_monitor\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
report_collection = db.get_collection("report")
reports = list(report_collection.find())
reports

In [ ]:
reports

In [37]:

reference_data = pd.read_csv("Average_price-2022-06_from1995.csv")
# Create features
col1 = ["Average_Price", "Average_Price_SA"]
col2 = ["Monthly_Change", "Annual_Change"]

df2 = reference_data.drop("Unnamed: 0", axis=1)
df2["Date"] = pd.to_datetime(df2.Date)
df2[col1] = df2[col1].astype("float32")
df2[col2] = df2[col2].astype("float16")
df2 = df2[df2["Region_Name"] == "Oxford"]
df2["ds"] = df2["Date"]
df2["y"] = df2["Average_Price"]
reference_data = df2.copy()

reference_data.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,ds,y
139,1995-01-01,Oxford,E07000178,78024.882812,NaN,NaN,NaN,1995-01-01,78024.882812
615,1995-02-01,Oxford,E07000178,77770.109375,-0.326416,NaN,NaN,1995-02-01,77770.109375
970,1995-03-01,Oxford,E07000178,76013.835938,-2.257812,NaN,NaN,1995-03-01,76013.835938
1336,1995-04-01,Oxford,E07000178,74908.726562,-1.454102,NaN,NaN,1995-04-01,74908.726562
1734,1995-05-01,Oxford,E07000178,73923.640625,-1.315430,NaN,NaN,1995-05-01,73923.640625

In [26]:
reference_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 139 to 133849
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              330 non-null    datetime64[ns]
 1   Region_Name       330 non-null    object
 2   Area_Code         330 non-null    object
 3   Average_Price     330 non-null    float32
 4   Monthly_Change    329 non-null    float16
 5   Annual_Change     318 non-null    float16
 6   Average_Price_SA  0 non-null      float32
 7   ds                330 non-null    datetime64[ns]
 8   y                 330 non-null    float32
dtypes: datetime64[ns](2), float16(2), float32(3), object(2)
memory usage: 18.0+ KB

In [38]:
features = ["ds", "y"]
df_pred = reference_data[features]
df_predict = model.predict(df_pred)

In [29]:
df_predict.columns

Index(['ds', 'trend', 'yhat_lower', 'yhat_upper', 'trend_lower', 'trend_upper',
       'additive_terms', 'additive_terms_lower', 'additive_terms_upper',
       'yearly', 'yearly_lower', 'yearly_upper', 'multiplicative_terms',
       'multiplicative_terms_lower', 'multiplicative_terms_upper', 'yhat'],
      dtype='object')

In [39]:
df_predict_right = df_predict[['ds','yhat','yhat_lower','yhat_upper']]
df_predict_right.head()

          ds          yhat    yhat_lower    yhat_upper
0 1995-01-01  62718.566243  46352.550217  78387.114934
1 1995-02-01  64791.637586  49923.787648  80528.275953
2 1995-03-01  58919.291739  43641.909201  72649.335511
3 1995-04-01  60852.641415  44790.508174  76565.194067
4 1995-05-01  64750.465526  49066.660660  80330.256632

In [40]:
result = pd.merge(reference_data, df_predict_right, how="left", on="ds")
result.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,ds,y,yhat,yhat_lower,yhat_upper
0,1995-01-01,Oxford,E07000178,78024.882812,NaN,NaN,NaN,1995-01-01,78024.882812,62718.566243,46352.550217,78387.114934
1,1995-02-01,Oxford,E07000178,77770.109375,-0.326416,NaN,NaN,1995-02-01,77770.109375,64791.637586,49923.787648,80528.275953
2,1995-03-01,Oxford,E07000178,76013.835938,-2.257812,NaN,NaN,1995-03-01,76013.835938,58919.291739,43641.909201,72649.335511
3,1995-04-01,Oxford,E07000178,74908.726562,-1.454102,NaN,NaN,1995-04-01,74908.726562,60852.641415,44790.508174,76565.194067
4,1995-05-01,Oxford,E07000178,73923.640625,-1.315430,NaN,NaN,1995-05-01,73923.640625,64750.465526,49066.660660,80330.256632

In [42]:
result = result.rename(columns={'yhat':'pred',
                     'yhat_lower':'pred_low',
                     'yhat_upper':'pred_high'})
result.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,ds,y,pred,pred_low,pred_high
0,1995-01-01,Oxford,E07000178,78024.882812,NaN,NaN,NaN,1995-01-01,78024.882812,62718.566243,46352.550217,78387.114934
1,1995-02-01,Oxford,E07000178,77770.109375,-0.326416,NaN,NaN,1995-02-01,77770.109375,64791.637586,49923.787648,80528.275953
2,1995-03-01,Oxford,E07000178,76013.835938,-2.257812,NaN,NaN,1995-03-01,76013.835938,58919.291739,43641.909201,72649.335511
3,1995-04-01,Oxford,E07000178,74908.726562,-1.454102,NaN,NaN,1995-04-01,74908.726562,60852.641415,44790.508174,76565.194067
4,1995-05-01,Oxford,E07000178,73923.640625,-1.315430,NaN,NaN,1995-05-01,73923.640625,64750.465526,49066.660660,80330.256632

In [41]:
df_mongo_result.head()

,_id,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA,__index_level_0__,id,ds,y,pred,pred_low,pred_high,target
0,630c9456bea46f9e1586784b,2020-07-01,Oxford,E07000178,398890.9930,2.087913,0.085967,None,124225,dc945902-7710-4fb5-91f3-30824bc44816,2020-07-01,398890.9930,474324.177818,457471.241849,490665.400087,398890.9930
1,630c945abea46f9e1586784c,2020-08-01,Oxford,E07000178,424222.8447,6.350570,4.096569,None,124585,9692d73e-c7a6-4756-97d1-7c327a7f79a8,2020-08-01,424222.8447,481101.978988,465099.368764,496965.173796,424222.8447
2,630c945dbea46f9e1586784d,2020-09-01,Oxford,E07000178,428481.0120,1.003757,2.746180,None,125108,d64ef716-3561-4166-a3d6-cffe0e4189d4,2020-09-01,428481.0120,485480.741722,469588.654722,501718.170038,428481.0120
3,630c9460bea46f9e1586784e,2020-10-01,Oxford,E07000178,433729.0557,1.224802,4.590585,None,125461,7ac97f06-cc76-45b5-9b30-a7d99810c5c8,2020-10-01,433729.0557,484424.015459,467933.385874,501579.754793,433729.0557
4,630c9466bea46f9e1586784f,2020-11-01,Oxford,E07000178,429722.7023,-0.923700,2.276995,None,125841,521489ba-edc4-4a01-bae3-2e2cf2de2ca7,2020-11-01,429722.7023,482959.627756,466234.247242,500385.366353,429722.7023